.app {
  display: grid;
  place-content: center;
  background-color: #dadbd3;
  height: 100vh;
}

.app__body {
  display: flex;
  background-color: #ededed;
  /* margin-top: -50px; */
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgb(0, 0, 0);
}
.footer {
  display: flex;
  height: 0vh;
  color: black;
  background-color: transparent;
  font-size: 12px;
  justify-content: center;
  margin: 5px;
}

.app__emptyscreen {
  background-image: url('./images/download.jpg');
  background-color: #f8f9fb;
  flex: 0.65;
  background-repeat: no-repeat;
  background-position: center;
}

.app__chat-area {
  flex: 0.65;
  background-position: center;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
