.sidebar {
    /* display: flex; */
    flex: 0.35;
    display: flex;
    flex-direction: column;
}
.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgrey;
}
.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vm;
}
.sidebar__headerRight > .MuiSvgIcon-root {
    font-size: 24px !important;
    margin-right: 2vm;
}

.sidebar__search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}
.sidebar__searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    height: 35px;
    width: 100%;
}
.sidebar__searchContainer > .MuiSvgIcon-root {
    color: gray;
    padding: 10px;
}
.sidebar__searchContainer > input {
    border: none;
    margin-left: 10px;
    width: 100%;
    height: 25px;
}
.sidebar__searchContainer > input:hover {
    border: none;
}
.sidebar__searchContainer > input:focus {
    border: none;
}
.sidebar__chats {
    background-color: white;
    flex: 1;
    overflow: auto;
}
